.article-content {
    max-width: 1200px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    line-height: 1.6;
    color: #dddddd;
    font-size: 14pt;
    background: #00000040;
}

.outlined-image {
    border: 1px solid #fff;
}

.article-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f5f5f5;
    background: none;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

canvas#background {
    position: fixed; /* stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* keep it behind everything */
}

a {
    color: #00d9ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: #1d1f2140;
    font-family:
        Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas,
        monospace;
    border: 0 !important;
}

.pln {
    color: #c5c8c6;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #969896;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: #1d1f2140;
    list-style-type: decimal;
}

@media screen {
    /* string content */

    .str {
        color: #b5bd68;
    }

    /* keyword */

    .kwd {
        color: #b294bb;
    }

    /* comment */

    .com {
        color: #969896;
    }

    /* type name */

    .typ {
        color: #81a2be;
    }

    /* literal value */

    .lit {
        color: #de935f;
    }

    /* punctuation */

    .pun {
        color: #c5c8c6;
    }

    /* lisp open bracket */

    .opn {
        color: #c5c8c6;
    }

    /* lisp close bracket */

    .clo {
        color: #c5c8c6;
    }

    /* markup tag name */

    .tag {
        color: #cc6666;
    }

    /* markup attribute name */

    .atn {
        color: #de935f;
    }

    /* markup attribute value */

    .atv {
        color: #8abeb7;
    }

    /* declaration */

    .dec {
        color: #de935f;
    }

    /* variable name */

    .var {
        color: #cc6666;
    }

    /* function name */

    .fun {
        color: #81a2be;
    }
}
